{% layout 'theme' %}
      
  <div class="full-screen-landing">
    <div class="div-block-333"><img src="{{ 'SR-creamAsset-1.svg' | asset_url }}" alt="Samantha Rudd Logo" class="image-43">
      <div class="text-block-127">{{ 'index.DIV_0' | t }}<br></div>
      <div class="div-block-335"></div>
      <div class="text-block-127">{{ 'index.DIV_1' | t }}<br></div>
    </div><a href="#top-section" class="w-inline-block"><img src="{{ 'down-arrow-1.svg' | asset_url }}" loading="lazy" alt="" class="image-49"></a></div>
  <div class="div-block-338">
    <div class="text-block-128">{{ 'index.DIV_2' | t }}</div>
    <div class="div-block-346"><img src="{{ 'SR-creamAsset-1.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></div>
  </div>
  <div id="top-section" class="top-section">
    <div class="div-block-339">
      <div class="div-block-340"><img src="{{ 'Samantha-Rudd-Home-2.jpg' | asset_url }}" loading="lazy" srcset="{{ 'Samantha-Rudd-Home-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'Samantha-Rudd-Home-2.jpg' | asset_url }} 1500w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, (max-width: 4411px) 34vw, 1500px" data-w-id="c81463c2-2a6f-cb14-400d-1390f3f4a319" style="opacity:0" alt="" class="image-53"><img src="{{ 'car-text.jpg' | asset_url }}" loading="lazy" srcset="{{ 'car-text-p-500.jpeg' | asset_url }} 500w, {{ 'car-text-p-1080.jpeg' | asset_url }} 1080w, {{ 'car-text.jpg' | asset_url }} 1500w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, (max-width: 4411px) 34vw, 1500px" data-w-id="d30215fe-770e-b53c-eff0-6f7917d125d5" style="opacity:0" alt="" class="image-52"></div>
      <div class="div-block-341">
        <div data-w-id="fbad9b3d-0c44-3fc9-69c7-1c849d6919c3" style="opacity:0" class="big-gold-text">{{ 'index.DIV_3' | t }}</div>
        <div data-w-id="b8b7b05a-3136-26f5-0fef-afcdd6657c49" style="opacity:0" class="text-block-3">{{ 'index.DIV_4' | t }}</div><a href="#sign-up" data-w-id="17acfcd4-e228-255e-322e-77429d2f15c6" style="opacity:0" class="sr-button w-button">{{ 'index.A_5' | t }}</a></div>
    </div>
  </div>
  <div class="div-block-337">
    <div data-w-id="328010de-c295-f9d2-b6ad-0ffb287b45b7" style="opacity:0" class="tan-2">
      <div class="div-block-11">
        <div class="text-block-8">{{ 'index.DIV_6' | t }}</div>
        <div class="text-block-8">{{ 'index.DIV_7' | t }}</div>
      </div>
      <div class="div-block-8"></div>
    </div>
  </div>
  <div class="bottom-section">
    <a href="#" class="circle-container-2 w-inline-block">
      <div id="circletext" data-w-id="8b73d84c-4d2a-8353-c72b-44d281a08d43" class="circle-text">{{ 'index.DIV_8' | t }}</div>
      <div class="circle-3"><img src="{{ 'RAsset-3.svg' | asset_url }}" alt="" class="image-51"></div>
    </a>
    <div class="columns-3 w-row">
      <div class="column-2 w-col w-col-6 w-col-stack">
        <div class="div-block-5">
          <div data-w-id="8b73d84c-4d2a-8353-c72b-44d281a08d4a" style="opacity:0" class="text-block-4">{{ 'index.DIV_9' | t }}</div>
          <div data-w-id="8b73d84c-4d2a-8353-c72b-44d281a08d4c" style="opacity:0" class="div-block-2-copy"></div>
          <div data-w-id="8b73d84c-4d2a-8353-c72b-44d281a08d4d" style="opacity:0" class="div-block-3-copy"></div>
        </div>
      </div>
      <div class="column-copy w-col w-col-6 w-col-stack">
        <div class="div-block-5-copy">
          <div data-w-id="8b73d84c-4d2a-8353-c72b-44d281a08d50" style="opacity:0" class="text-block-4">{{ 'index.DIV_10' | t }}</div>
          <div data-w-id="8b73d84c-4d2a-8353-c72b-44d281a08d52" style="opacity:0" class="portrait-div"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="top-section" class="top-section-two">
    <div class="div-block-339-copy">
      <div class="div-block-340-copy"><img src="{{ 'box-1.jpg' | asset_url }}" loading="lazy" srcset="{{ 'box-1-p-1080.jpeg' | asset_url }} 1080w, {{ 'box-1.jpg' | asset_url }} 1500w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 47vw, (max-width: 3947px) 38vw, 1500px" data-w-id="5514ad01-b52d-07e3-1edd-376813ecfab4" style="opacity:0" alt="" class="image-53-copy"><img src="{{ 'shelves-1.jpg' | asset_url }}" loading="lazy" srcset="{{ 'shelves-1-p-500.jpeg' | asset_url }} 500w, {{ 'shelves-1-p-1080.jpeg' | asset_url }} 1080w, {{ 'shelves-1.jpg' | asset_url }} 1500w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 47vw, (max-width: 3947px) 38vw, 1500px" data-w-id="5514ad01-b52d-07e3-1edd-376813ecfab5" style="opacity:0" alt="" class="image-52-copy"></div>
      <div class="div-block-341-copy">
        <div data-w-id="96b923e8-d67c-5a57-0797-67eda4915330" style="opacity:0" class="div-block-342"></div>
      </div>
    </div>
  </div>
  <div id="sign-up" class="section-27">
    <div data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddb9ff" style="opacity:0" class="mailchimp-title">{{ 'index.DIV_11' | t }}</div>
    <div class="form-block-4 w-form">
      <form id="email-form" name="email-form" data-name="Email Form" method="post" action="https://homewiththerudds.us2.list-manage.com/subscribe/post?u=3a6d25d5de474c125512385a1&amp;amp;id=994da4551d" class="form-9"><label for="name" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba03" style="opacity:0" class="mailchimp-label">{{ 'index.LABEL_12' | t }}</label><input type="text" class="mailchimp-input w-input" maxlength="256" name="name" data-name="Name" style="opacity:0" placeholder="" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba05" id="name"><label for="email" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba06" style="opacity:0" class="mailchimp-label">{{ 'index.LABEL_13' | t }}</label><input type="email" class="mailchimp-input w-input" maxlength="256" name="email" data-name="Email" style="opacity:0" placeholder="" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba08" id="email" required=""><input type="submit" value="Submit" data-wait="Please wait..." data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba09" style="opacity:0" class="sr-button mailchimp w-button"></form>
      <div class="success-message-6 w-form-done">
        <div class="text-block-130">{{ 'index.DIV_14' | t }}</div>
      </div>
      <div class="error-message-9 w-form-fail">
        <div class="text-block-131">{{ 'index.DIV_15' | t }}</div>
      </div>
    </div>
    <div class="contact"><a href="https://www.instagram.com/athomewiththerudds/" target="_blank" class="w-inline-block"><img src="{{ 'instagram.svg' | asset_url }}" loading="lazy" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba12" style="opacity:0" alt="" class="social instagram"></a><a href="https://www.facebook.com/AtHomeWithTheRudds/" class="w-inline-block"><img src="{{ 'facebook-2.svg' | asset_url }}" loading="lazy" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba14" style="opacity:0" alt="" class="social facebook"></a><a href="mailto:sara@homewiththerudds.com?subject=Hello!%20" class="w-inline-block"><img src="{{ 'email.svg' | asset_url }}" loading="lazy" data-w-id="7fe5b96b-b539-c948-f6a5-b4ed94ddba16" style="opacity:0" alt="" class="social"></a></div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f61d645b88336c6c3fb519d" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
  <script>
new CircleType(document.getElementById('circletext'));
</script>
  <script>
new CircleType(document.getElementById('circletext2'));
</script>
  <script>
new CircleType(document.getElementById('circletext3'));
</script>
  <script src="https://cdn.jsdelivr.net/npm/udesly-wf-google-maps@latest/udesly-wf-google-maps.js"></script>

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}{{ 'option_selection.js' | shopify_asset_url | script_tag }}